h1{
    text-align: center;
    font-size: 25px;
    color: black;
   }
    body{
    background-color: rgb(255, 238, 0);
    }
    .bob {
       width: 30%;
       left:50%;
       height:20%;
       margin-top: 0%;
    }
   
    .ini{
       background-color: rgb(255, 140, 0);
    }