h1{
    text-align: center;
    font-size: 25px;
    color: black;
   }
    body{
    background-color: brown;
    }
    .thor{
       width: 30%;
       left:50%;
       height:20%;
       margin-top: 0%;
    }
   
    .ini{
       background-color: bisque;
    }